In [11]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

We will be using Beatiful Soup to pull the data from the wikipedia page and tabulate it in useful manner. BS4 package has all what we need from pulling html from website and putting into pandas dataframe. But first we need to set up couple things

We target the source url that we want to use;then we specify source content to read with bea

In [12]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.content,'lxml')

And we specifically select our table by its html tag and css class name

In [13]:
table = soup.find_all('table', class_="wikitable sortable")[0]

We create dataframe by reading the table

In [14]:
df = pd.read_html(str(table))[0]

We set first  to be the headers

In [15]:
headers = df.iloc[0]
df = pd.DataFrame(df.values[1:], columns=headers)

Ignoring not assigned borough cells

In [16]:
df = df[df.Borough != 'Not assigned']

Group based on postal code, combine neighborhoods in one cell

In [17]:
df = df.groupby('Postcode').agg({'Postcode':'first', 'Borough':'first', 'Neighbourhood':', '.join})

Replace not assigned neighborhood with borough name

In [18]:
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])

Making index run from 0 consequentailly

In [19]:
df = df.reset_index(drop=True)
df.head(10)

                                     Neighbourhood      Borough Postcode
0                                   Rouge, Malvern  Scarborough      M1B
1           Highland Creek, Rouge Hill, Port Union  Scarborough      M1C
2                Guildwood, Morningside, West Hill  Scarborough      M1E
3                                           Woburn  Scarborough      M1G
4                                        Cedarbrae  Scarborough      M1H
5                              Scarborough Village  Scarborough      M1J
6      East Birchmount Park, Ionview, Kennedy Park  Scarborough      M1K
7                  Clairlea, Golden Mile, Oakridge  Scarborough      M1L
8  Cliffcrest, Cliffside, Scarborough Village West  Scarborough      M1M
9                      Birch Cliff, Cliffside West  Scarborough      M1N

In [10]:
df.shape

(103, 3)